<h1>Editing inventory item</h1>

<%= render "form", inventory_item: @inventory_item %>

<br>

<div>
  <%= link_to "Show  Item", @inventory_item, class:"btn btn-primary" %>
  <%= link_to "Back to inventory items", inventory_items_path, class:"btn btn-secondary" %>
</div>
